.five {
  height: auto;
  width: 100%;
  background-color: #e2c8b1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
hr{
  display: none;
  border: none;
  border-top: 1px solid black;
  margin: 10px 0;
}

.five-childs {
  width: 90%;

}

#five-child-1 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 2%;

}

#five-child-1 ul li{
  list-style-type: none;
  font-size: 17px;
  margin: 10px 0;
  padding: 5px;
  display: block;
  cursor: default;
}
#five-child-1-div-1{
  width: 40%;
  height: 40%;
  display: flex;  
  flex-direction: row;
  align-items: start;

}
#five-child-1-div-1 img{
  position: absolute;
  top: 2%;
  left: 0;
}
#five-child-1-div-1 span{
  position: absolute;
  top: 13%;
  left: 10%;
}
#five-child-1-div-2{
  width: 20%;
  height: 90%;
}
#five-child-1-div-3{
  width: 20%;
  height: 90%;

}
#five-child-1-div-4{
  width: 20%;
  height: 90%;
}
#five-child-1-div-4 ul li a{
  text-decoration: none;
  color: black;
  font-size: 17px;

}

#five-child-2 {
  height: auto;
  border-top: 1px solid black;
  padding: 2%;
}

#five-child-2 p {
  text-align:end;
  font-size: 14px;

}
#five-child-2 h3 {
  text-align:start;
  font-size: 16px;

}


@media (max-width: 767px) {
  .five {
    height: auto;
    padding: 5% 0;
  }
  hr{
    display: block;
  }

#five-child-1 {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 2%;

}

#five-child-1-div-2{
  width: 100%;
  height: 90%;
}
#five-child-1-div-3{
  width: 100%;
  height: 90%;
}
#five-child-1-div-4{
  width: 100%;
  height: 90%;

}


#five-child-1 ul li{
  list-style-type: none;
  font-size: 17px;
  margin: 10px 0;
  padding: 5px;
  display: block;
  text-align: center;
  width: 100%;
}

#five-child-1 h2{
  padding: 5px;
  display: block;
  text-align: center;
}



#five-child-1-div-1{
  width: 100%;
  height: 40%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10%;

}
#five-child-1-div-1 img{
  position:static;

}
#five-child-1-div-1 span{
  position:static;
  width: 100%;
}

#five-child-2 p {
  text-align:center;
  font-size: 14px;
  padding-top: 10px;

}
#five-child-2 h3 {
  text-align:center;
  font-size: 16px;


}
  
}
