/* ///////////////////////////////this is for one //////////////////////// */
.section {
  width: 100%;
  height: auto;
  position: relative;

}

.one {
  background-color: #f1efd6;
  /* font-family: "Milonga", serif; */
  font-family: Georgia, serif;
  color: #5e4e39;
  overflow-x: unset;
  /* height: 130vh; */
  height: auto;
}

#nav {
  width: 100%;
  height: 20vh;
  padding-left: 5%;
  padding-right: 5%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(2px);
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 25px;
  font-size: 30px;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 45px;
}

li a {
  font-size: 30px;
  scroll-behavior: smooth;
}

nav ul li button {
  width: 70%;
  height: 100%;
  background-color: transparent;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

nav ul li button:hover {
  color: black;
}

#one-body {
  width: 100%;
  /* height: 100vh; */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13%;
  padding-bottom: 13%;
}

#intro1 {
  height: 40%;
  width: 50%;
  font-size: 40px;
  position: relative;
  text-align: left;
  font-family: "Milonga", serif;
}

#intro-button {
  position: absolute;
  bottom: -50px;
  color: #b1a28f;
}

#one-list {
  display: none;
}








/* --------------------------------wordflicker css------------------------------------------ */

.wordflicker {
  /* font-family: "Petit Formal Script", cursive; */
  font-family: "Andika", sans-serif;
  font-size: 65px;
  margin-top: 30px;
  height: 170px;  
  color: black;
}

.wordflicker::after {
  content: "|";
  margin-left: 5px;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}




/* ---------------------------------- mobile resposnsive css--------------------------------------------------------------- */


@media (min-width: 320px) {

#one-mobile-content-home #one-mobile-content-projects #one-mobile-content-contact {
  padding: 0;
  border: 1px solid black;
}

  nav ul li button {
    width:auto;
  height: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  margin: auto;
}
}

@media (max-width: 767px) {
  
#one-body {
  width: 100%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13%;
  padding-bottom: 13%;
  overflow-y: hidden;
}

  #one-main-logo {
    left: 0;
    width: 150px;
  }
  #nav ul {
    display: none;
  }

  #one-list {
    display: block;
    position: absolute;
    right: 1%;
    top: 10%;
  }
  .wordflicker {
    font-size: 40px;
  }

  
  #nav {
  width: 100%;
  height: 20vh;
  padding-left: 5%;
  padding-right: 5%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(2px);
  transition: all 0.5s ease;
}

#nav.nav-open {
  background-color: #f1efd6;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nav.nav-open .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#nav.nav-open #one-main-logo {
  position: absolute;
  top: 5%;
  left: 5%;
}

#nav.nav-open #one-list {
  position: absolute;
  top: 5%;
  right: 5%;
}

#nav.nav-open #one-mobile-menu {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 0;
}

#one-mobile-menu {
  display: none;
  cursor: pointer;
  font-size: 40px;
  color: #5e4e39;
}

}
