/* .App {
   text-align: center; 
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

/* .App {
  overflow-x: hidden;
} */



